.color{color: white; margin-left: 10px;  width: 60px; height: 30px; border: 1px solid green;
    background-color:rgba(0, 0, 255, 0.5); border-radius: 9px; display: inline-block; text-align: center; font-weight: bold;}
  
  .color1{color: white; margin-left: 10px;  width: 60px; height: 30px; border: 1px solid green;
    background-color: rgba(255, 0, 0, 0.5); border-radius: 9px; display: inline-block; text-align: center; font-weight: bold;}
  .add>div{border-bottom: 2px solid black;}
  .blue{color:blue;}

  .content3{display: flex; flex-direction:column;}

  .content3>div:first-child{color: red; font-weight: bold; width: 100%; height: 30px; border-top: 1px solid red; padding-top: 20px; margin-top: 20px;}
  .content3>div>img{padding: 50px;} 


  