body {
  background-color: #a3a3a3;
  /** body에 배경이미지 적용 */
  background-image: url("../static/images/pattern.png");
  /** 고정된 사이즈로 설정 */
  background-size: 100px;

  /** 기본 body 사이즈를 화면 크기로 고정 */
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.bookcover {
  /** 배경 색깔 지정  */
  background-color: #b4d1da;
  /** 모서리 둥글게 */
  border-radius: 9px;
  /** 윤곽선 */
  border: 1px solid #738186;

  /** 기본 너비, 높이 지정 (반응형 X) */
  width: 960px;
  height: 660px;

  /** 좌우 마진을 auto(중앙에 배치), 상하 마진을 100px로 지정 */
  margin: 100px auto;

  /** .bookdot 요소에서 absolute 속성값을 이용하기 위해 position: relative 로 설정 */
  position: relative;
}

/** 하얀색 점선 윤곽선이 있는 네모박스 만들기  */
.bookdot {
  border-radius: 9px;
  border: 2px dashed #ffffff;
  padding: 15px;

  /** bookcover div 기준으로 상하좌우 15px씩 떨어져있는 위치에 고정 */
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

/** 미니홈피 내용이 들어갈 연회색 네모박스 만들기 */
.page {
  background-color: #eeeeee;
  border-radius: 9px;

  /** bookdot div 기준으로 상하좌우 10px씩 떨어져있는 위치에 고정 */
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
}

.box{
  
  flex: 0.3;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.box2{
  
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.box3{
  
  flex: 0.2;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 25px;
  
}

.box>div:first-child{
                     display: flex; 
                     text-align: center;
                     margin-bottom: 15px;
                     font-size: 10px;
                     display: inline-block;
}
#red{color: red;}  


.box>div:last-child{background-color: #fff;
                    display: flex; 
                    flex: 1; 
                    border-radius: 9px;
                    border: 1px solid gray;
}
  .box2>div:first-child{
  display: flex;
  text-align: left;
  margin-bottom: 15Px;
  font-size: 15px;
  display: inline-block;
  position: relative;
  }     

  .minihome{font-weight: bold;  font-family: 'ONE-Mobile-POP'; font-size: 1.5em;}
 
  .right{text-align: right; position: absolute; top:0; right:0;}
 


 .box2>div:last-child{background-color: #fff;
 display: flex;
 border-radius: 9px;
 border: 1px solid gray;
 flex: 1;
 border-radius: 9px;
 border: 1px solid gray;
 }

.content{display:flex; flex-direction: column; background-image:linear-gradient(skyblue, AQUA, PURPLE);} 
.content>div:first-child{width: 150px;  height: 150px;
 margin: 10px auto;}
.content>div>img{width: 100%;}
.content>div:nth-child(2){width:150px; height: 300px; margin-left: 10px; 
font-size: 16px; font-family: 'ONE-Mobile-POP'; 
}
.content>div:nth-child(3){text-align: center;}

.content>div:last-child{font-weight: bolder; width: 150px; margin-left: 15px;
text-align: center;}

.content2{display: flex; flex-direction: column;}
.content2>div:first-child{width: 100%; height: 200px; display:flex; flex-direction: column;}
.content2>div:last-child{width: 100%; height: 100%;}
.update{padding-bottom: ; width: 100%; height: 20px; font-weight: bold;
margin-top: 20px; border-bottom: 1px solid red; color: red;}
.update2{width: 100%; height: 100%;
display: flex; flex-direction: row;
} 
.update2>div:last-child{width: 50%; height: 100%;}
.update2>div:first-child{width: 50%; height: 100%;}

.img{height: 100%; background-image: url(ohh.jpg); background-repeat:no-repeat; margin-left: 10px;}
.pado{flex: 0;
      margin-top: 10px;
      position: relative;
      background-color: WHITE;
      color: BLACK;}

.triangle{
        width: 0;
        height: 0;
        border-left: 4.5px solid transparent;
        border-right: 4.5px solid transparent;
        border-top: 5px solid;
        position: absolute; right:0;}      

.padotitle{padding-left: 40px;}

.padodrop{display: flex;
  justify-content: space-between;
  align-items: center;}

.padomenu{display: none; top:0; left:0; position: absolute;}

.pado:hover>.padomenu{display: block; background-color: #f9f9f9;
width: 100%; text-decoration: none;}

.padomenu>a{display: block;
 background-color: white;
 text-decoration: none;}

.box3{display: flex; flex-direction: column;}

.box3>div{font-family: 'ONE-Mobile-POP'; color: white; background-image:linear-gradient(skyblue, AQUA); width: 90%; height: 40px; margin-top:22px; border-radius: 0 0 9px 0; border: 1px solid black; text-align: center; line-height: 40px;}

.box3>div>a{text-decoration: none;}